extends ../layout

block content
  .jumbotron.text-center
    h2 Faça Login
    p Alguma descrição de Login
    br
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Senha
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Senha', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.col-md-3.btn.btn-success(type='submit')
          i.far.fa-user.fa-sm
          | Login 
        a.text-white(href='/forgot') Esqueceu sua senha?
    