extends layout

block content
  header.jumbotron
    h1 Bem vindo ao BlockHub. 
      i.fas.fa-1x.fa-cube
    p.lead Um Blog para disseminar conteúdo sobre Blockchain e Sistemas Distribuídos.
    br
    p  
    a(href="#").btn.btn-lg.btn-success Começar a aprender 
      i.fas.fa-1x.fa-angle-right
  section.row
    .container.text-center.text-white
      h2 Aprenda tudo sobre Blockchain
      br
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus dapibus arcu vel condimentum. Sed non sodales nisl, at mollis dui. Sed et pretium risus.
      br
  .row
    .col-md-4
      .card.bg-dark.text-white
        .card-body
          h5.card-title Guias
          p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus dapibus arcu vel condimentum.
          a(href="#").card-link Ler mais
    .col-md-4
      .card.bg-dark.text-white
        .card-body
          h5.card-title Tutoriais
          p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus dapibus arcu vel condimentum. 
          a(href="#").card-link Ler mais
    .col-md-4
      .card.bg-dark.text-white
        .card-body
          h5.card-title Exemplos
          p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus dapibus arcu vel condimentum.
          a(href="#").card-link Ler mais
    