extends layout

block content
  .jumbotron
    h1 Bem vindo ao BlockHub. 
      i.fas.fa-1x.fa-cube
    p.lead Um Blog para disseminar conteúdo sobre Blockchain e Sistemas Distribuídos.
    br
    a(href="#").btn.btn-lg.btn-success Começar a aprender
  .row
    .container.text-center
      h2 Aprenda sobre Blockchain
      p Lorem Ipsum
  .row
    .col-md-4
      .card
        .card-body
          h5.card-title Guias
          .card-text Lorem Ipsum
          a(href="#").card-link Ler mais
    .col-md-4
      .card.bg-dark.text-white
        .card-body
          h5.card-title Tutorias
          p.card-text Lorem Ipsum
          a(href="#").card-link Ler mais
    .col-md-4
      .card.bg-dark.text-white
        .card-body
          h5.card-title Exemplos
          p.card-text Lorem Ipsum
          a(href="#").card-link Ler mais
    